# --- DÉPENDANCES ---
node_modules/
*/node_modules/
npm-debug.log
yarn-error.log

# --- BASE DE DONNÉES (TRES IMPORTANT) ---
# On ne veut pas envoyer les fichiers binaires de MySQL
database/data/
mysql-data/
*.sql.gz

# --- SYSTÈME & ENVIRONNEMENT ---
.DS_Store
Thumbs.db
.env
.idea/
.vscode/